.App {
  text-align: center;
}

.App-header {
  background-color: #2E3532;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Playfair Display', serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myArticlesContainer {
  background-color: #394053
}

.createForm {
  margin: 0.2px;
  font-family:'Playfair Display', serif;
}

.tag-modal-header {
  background-color: #177E89
}

.tag-modal {
  font-family:'Playfair Display', serif;
}

.tag{
  padding-top: 0.15em;
  padding-right: 0.9em;
  padding-left: 0.9em;
  font-size: 0.9em;
  border-radius: 41.625em;
  border-top-left-radius: 41.625em;
  border-bottom-right-radius: 41.625em;
  border-bottom-left-radius: 41.625em;
  background-color: #177E89 ;
  width: 125px
}
